@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";



@theme {
  --color-*: initial;
  --color-white: #fff;
  --color-purple: #000000;
  --color-midnight: #484848;
}

* {
    font-family: "Inter", sans-serif;
}