@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true; /* set as default */
  prefersdark: true; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  
  --color-primary: #8584EF;
  --color-secondary: #484848;
  --color-accent: #000000;
}

/* @theme {
  --color-*: initial;
  --color-white: #fff;
  --color-purple: #000000;
  --color-midnight: #484848;
} */

* {
    font-family: "Inter", sans-serif;
}