@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    --color-primary: "#8584EF";
    --color-secondary: "#484848";
    --color-accent: "#000000"
}

* {
    font-family: "Inter", sans-serif;
}